<form action="{{ url|default('#') }}"  method="post" onsubmit="return confirm('{{ message|default('Etes-vous sûr de vouloir supprimer cet objet ?') }} ')">
<input type="hidden" name="token" value="{{ csrf_token('delete' ~ id|default(0)) }}">
        <button type="submit" class="btn btn-danger">Supprimer</button>
</form>