{% extends 'base.html.twig' %}

{% block title %}
    Création d'un type d'utilisateur
{% endblock %}

{% block body %}
    <h1> Création d'un type d'utilisateur</h1>
    {{form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit">Créer</button>

    {{form_end(form) }}
{% endblock %}
