{% extends 'base.html.twig' %}

{% block title %}
	Gestion du type d'utilisateur
{% endblock %}

{% block body %}

	<section class="container mt-2">
		<h1 class="text-center">Gestion du type d'utilisateur</h1>
		
	</section>
{% endblock %}
